html, body {
  margin: 0;
}

body {
  background: #333;
}

#header {
  background-image: url("../../assets/koala-fight.jpg");
  background-repeat: repeat;
  background-size: 100px;
  font-family: ComicSansMS;
  font-size: 30px;
  text-align: center;
  height: 50px;
  color: black;
  -webkit-text-stroke: 1px magenta;

  marquee {
    height: 50px;
  }
}

#content {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#footer {
  color: #CCC;
  text-align: center;
  width: 100%;
  margin: 10px 0 10px 0;
  font-size: 10px;
}

.video-container {
  display: table;
  table-layout: fixed;
  width: 100%;

  > div {
    display: table-cell;
  }

  video {
    display: block;
    width: 100%;
  }
}

.highlight-container {
  background-color: #CCC;
  width: 20%;
  min-width: 150px;
  overflow-y: auto;
  vertical-align: top;

  > div {
    img {
      cursor: pointer;
    }
  }
}

