html, body {
  margin: 0;
}

body {
  background: #333;
}

#header {
  background-image: url("../../assets/koala-fight.jpg");
  background-repeat: repeat;
  background-size: 100px;
  font-family: ComicSansMS;
  font-size: 30px;
  text-align: center;
  height: 50px;
  color: black;
  -webkit-text-stroke: 1px magenta;

  marquee {
    height: 50px;
  }
}

#content {
  height: 100%;

  > div > div {
    margin-top: 20px;
  }
}

#footer {
  color: #CCC;
  text-align: center;
  width: 100%;
  margin: 10px 0 10px 0;
}

.video-container {
  display: table;
  table-layout: fixed;
  width: 100%;

  > div {
    display: table-cell;
  }

  .controls {
    text-align: center;
    vertical-align: middle;
    width: 24%;

    &.capture-controls {
      button {
        font-size: 2em;
      }
    }
  }

  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.highlight-container {
  background-color: #CCC;
  overflow-x: scroll;
  white-space: nowrap;

  > div {
    display: inline-block;
    padding: 10px 10px 0 10px;

    img {
      cursor: pointer;
    }
  }
}

